@media screen and (max-width: 1250px) {
    .products__items-slider  {
        padding: 0px 25px;
    }

    .products__items-slider .product-card {
        margin: 14px 11px 12px 0px;
    }

    .products__arrow--prev {
        left: -5px;
    }

    .products__arrow--next {
        right: -5px;
    }
}

@media screen and (max-width: 1200px) {
    .header__super-nav-list > li {
        margin-right: 25px;
    }

    .sale-offer {
        margin-left: 20px;
    }

    .category-picker__inner {
        justify-content: center;
        gap: 20px 50px;
    }

    .products__items-slider .product-card {
        margin: 14px 30px 12px 0px;
        min-width: 270px;
    }

    .products__arrow--next {
        right: 20px;
    }

    .products__items:not(.js-tab-content--active) {
        display: block;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
    }
    
    .footer__social-item {
        margin-top: 8px;
    }

    .footer__menu {
        margin-left: 120px;
    }

  
    .sale-banner__img {
        left: 40px;
        top: 25px;
    }

    .sale-banner__btn {
        margin-left: 35px
    }

    .sale-banner__content {
        margin-right: 75px;
    }

    .products-showcase__list[data-flow-type="grid"] {
        justify-content: center;
        gap: 30px 40px;
    }

    [data-flow-type="inline"] .product-card__title {
        width: 260px;
        padding: 0px 10px;
    }

    [data-flow-type="inline"] .product-card__hover-element {
        left: 10px;
        padding: 7px 3px;
        font-size: 14px;
        width: 121px;
    }

    [data-flow-type="inline"] .product-card__price {
        font-size: 26px;
    }

    [data-flow-type="inline"] .product-card__link {
        margin-left: auto;
    }

    [data-flow-type="inline"] .product-card__info {
        margin-left: 40px;
        margin-right: auto;
    }

    [data-flow-type="inline"] .product-card__content {
        padding: 5px 113px 5px 0px;
    }
}

@media screen and (max-width: 1080px) {
    .sale-banner__content {
        margin-right: 30px;
    }

    .sale-banner__text {
        font-size: 32px;
        line-height: 34px;
    }

    .sale-banner__btn {
        margin-left: 8px;
    }
}

@media screen and (max-width: 1023px) {
    .header__super-nav-list > li {
        margin-right: 15px;
    }

    .banner__inner {
        padding-top: 35px;
        flex-direction: column;
        align-items: center;
    }

    .banner__slider,
    .sale-offer {
        height: 380px;
    }
    
    .banner__slider {
        width: 100%;
        max-width: 870px;
        padding: 0px 15px;
    }

    .sale-offer {
        margin-top: 30px;
        margin-left: 0px;
        width: 265px;
    }

    .sale-offer__sale-end {
        padding: 20px;
    }

    .banner__slider-img {
        min-height: 380px;
    }

    .footer__menu {
        margin-left: 100px;
    }

    .sale-banner__content {
        flex-direction: column;
        margin-right: auto;
    }

    .sale-banner__text {
        max-width: 410px;
        text-align: center;
    }

    .sale-banner__btn {
        margin-left: 0px;
        margin-top: 20px;
    }

    .sale-banner__img {
        display: none;
    }

    .sale-banner__text-highlight {
        display: inline-block;
    }

    .sale-banner__btn {
        position: relative;
    }

    .sale-banner__btn::before,
    .sale-banner__btn::after {
        content: "";
        position:  absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .sale-banner__btn::before {
        left: -150px;
        top: -24px;
        width: 131px;
        height: 100px;
        background-image: url('../images/category-picker-1.png');
    }    
    
    .sale-banner__btn::after {
        width: 157px;
        height: 101px;
        transform: scale(-1, 1);
        right: -172px;
        top: -25px;
        background-image: url('../images/category-picker-5.png');
    }

    [data-flow-type="inline"] .product-card__title {
        width: 220px;
        margin-left: 10px;
    }

    [data-flow-type="inline"] .product-card__title,
    [data-flow-type="inline"] .product-card__no-more-text {
        font-size: 16px;
    }

    [data-flow-type="inline"] .product-card__info {
        width: 160px;
        margin-left: 20px;
    }

    [data-flow-type="inline"] .product-card__inform {
        font-size: 14px;
    }

    [data-flow-type="inline"] .product-card__price {
        font-size: 24px;
    }
}

@media screen and (max-width: 991px) {
    .header__panel-adress,
    .header__super-nav,
    .header__categories-list {
        display: none;
    }

    .header__panel,
    .header__logo {
        width: auto;
    }

    .header__top {
        position: relative;
        padding: 0px 5px;
    }

    .header__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .header__bottom {
        padding: 15px 10px;
    }

    .header__super-nav--table-res {
        display: block;
        max-width: 100%;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        font-family: 'SF-Bold', sans-serif;
    }

    .header__super-nav-list {
        text-align: center;
        white-space: nowrap;
    }

    .container {
        padding: 0px;
    }
    
    .header__hamb {
        display: block;
        margin-left: 10px; 
    }

    .banner__slider-img {
        margin: 0 auto;
    }

    .banner__slider-arrow--next {
        right: 30px;
    }

    .banner__slider-arrow--prev {
        left: 30px;
    }

    .category-search {
        padding-right: 10px;
        padding-left: 10px;
    }

    .category-picker__inner {
        gap: 15px;
        padding: 0px 10px;
    }

    .products__items-slider .product-card {
        margin: 14px 15px 12px;
    }

    .products__inner {
        padding: 0px 10px;
    }

    .footer {
        padding: 40px 10px 27px;
    }

    .footer__bottom {
        margin-left: 420px;
    }
    
    .footer__top {
        flex-direction: column;
        align-items: center;
    }

    .footer__subscribe-title {
        text-align: center;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .footer__subscribe-btn  {
        font-weight: 400;
        font-family: 'SF-Regular', sans-serif;
    }

    .footer__menu {
        margin-left: 0px;
        margin-top: 25px;
        justify-content: space-around;
    }

    .footer__nav-item {
        max-width: 100%;
    }

    .footer__menu-item {
        width: auto;
        max-width: 150px;
    }

    .footer__social {
        margin-left: 0px;
        margin-top: 25px;
    }

    .footer__social-item:last-child {
        padding-right: 0px;
    }

    .footer__bottom-link:first-child {
        margin-right: 50px;
    }

    .footer__bottom {
        margin-left: auto;
        text-align: center;
    }
    
    .sale-banner {
        padding: 0px 10px;
    }

    .breadcrumbs-list {
        overflow-x: auto;
        white-space: nowrap;
    }

    .catalog-layout__inner {
        flex-direction: column;
    }

    .products-showcase__list[data-flow-type="grid"] {
        gap: 30px;
    }

    .side-filter {
        position: relative;
        width: 100%;
        max-width: 768px;
        margin: 0 auto 40px;
        max-height: 200px;
        overflow: hidden;
        transition: max-height 400ms ease;
        padding-bottom: 50px;
    }

    .side-filter__show-btn {
        content: 'РАЗВЕРНУТЬ';
        display: flex;
        width: 100%;
        height: 30px;
     
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0px;
        left: 0px;
        
        border: 1px solid #cdcdcd;
        background-color: rgba(255, 255, 255, 1);
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.06em;
        font-family: "SF-Medium", sans-serif;
        text-transform: uppercase;

        box-shadow: 0px -3px 30px #f7f7f7;
    }

    .side-filter__checkbox {
        max-width: 180px;
    }

    .input-replacer__label-text {
        white-space: normal
    }

    .side-filter__param-range-slider {
        max-width: 360px;
    }

    .page-title,
    .sort-filter,
    .catalog-layout {
        padding: 0px 15px;
    }
}

@media screen and (max-width: 767px) {
    .header__top {
        min-height: 80px;
    }
    
    .banner__slider {
        height: 330px;
    }

    .banner__slider-img {
        min-height: 330px;
    }

    .category-search__tabs {
        white-space: nowrap;
        max-width: 100%;
        overflow: auto;
    }

    .category-search__tab {
        padding: 0px 0px 5px 0px;
        background-color: transparent;
        margin-right: 10px;
        border-radius: 0px;
    }
    
    .category-search__tab:not(.category-search__tab--active):focus, 
    .category-search__tab:not(.category-search__tab--active):hover,
    .category-search__tab.js-tab--active {
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 2px solid #1c62cd;
    }

    .products__tabs {
        overflow: auto;
    }

    .products__tab {
        margin-right: 30px;
    }

    .sort-filter__inner {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .sort-filter__page-flow {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .sort-filter__param-list {
        overflow-x: auto;
        white-space: nowrap;
    }

    [data-flow-type="inline"] .product-card__title, [data-flow-type="inline"] .product-card__no-more-text {
        font-size: 14px;
    }

    [data-flow-type="inline"] .product-card__price {
        font-size: 22px;
    }

    [data-flow-type="inline"] .product-card__inform {
        font-size: 13px;
    }

    [data-flow-type="inline"] .product-card__info {
        width: 148px;
    }

    [data-flow-type="inline"] .product-card__title {
        width: 180px;
    }

    [data-flow-type="inline"] .product-card__link:focus .product-card__hover-element, 
    [data-flow-type="inline"] .product-card__link:hover .product-card__hover-element {
        display: none;
    }

    [data-flow-type="inline"] .product-card__content {
        padding: 5px 0px 10px;
    }
}

@media screen and (max-width: 640px) {
    .banner__slider {
        height: 260px;
    }
    
    .banner__slider-img {
        min-height: 260px;
    }

    .slick-dots {
        bottom: 25px;
    }

    .category-picker__inner {
        gap: 20px;
    }

    .sale-banner__wrapper {
        padding: 20px 0px 30px;
    }

    .sale-banner__text {
        max-width: 320px;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 6px;
    }

    .sale-banner__btn {
        margin-top: 10px;
        font-size: 15px;
        width: 180px;
    }

    .sale-banner__btn::before {
        width: 110px;
        left: -127px;
    }

    .sale-banner__btn::after {
        width: 126px;
        right: -140px;
    }

    [data-flow-type="inline"] .product-card__content {
        flex-direction: column;
    }

    [data-flow-type="inline"] .product-card__link {
        margin: 0px;
    }

    [data-flow-type="inline"] .product-card__info {
        margin: 0px auto;
    }

    [data-flow-type="inline"] .product-card__title {
        width: 100%;
        max-width: 260px;
        font-size: 16px
    }

    [data-flow-type="inline"] .product-card__title, [data-flow-type="inline"] .product-card__no-more-text {
        font-size: 16px;
    }

    [data-flow-type="inline"] .product-card__no-more-text {
        margin: 0px 0px 2px;
    }

    [data-flow-type="inline"] .product-card--sale::before {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header__super-nav-list {
        overflow: scroll;
    }

    .header__logo {
        position: static;
        left: 0;
        top: 0;
        transform: none;
    }

    .banner__inner {
        padding-top: 30px;
    }
    
    .banner__slider {
        padding: 0px;
        height: 240px;
    }


    .banner__slider-img {
        min-height: 240px;
    }

    .category-search__submit {
        position: absolute;
        right: 0px;
        background-color: transparent;
        font-size: 0px;
        padding: 16px 30px;
        background: url('../images/icon-search-1.svg') no-repeat center;
        background-size: 24px;
    }

    .category-search__input {
        padding: 15px 50px 15px 20px;
    }

    .category-picker__image--kvadro {
        top: 31px;
        right: 12px;
        max-width: 114px;
    }

    .category-picker__image--ships {
        top: 18px;
        right: 0px;
        max-width: 190px;
    }

    .category-picker__image--gidro {
        top: 34px;
        right: 10px;
    }

    .category-picker__image--snowmobile {
        max-width: 150px;
        right: 12px;
        top: 23px;
    }

    .category-picker__image--cross {
        top: 25px;
        right: 13px;
        max-width: 146px;
    }

    .category-picker__image--motors {
        right: 50px;
    }

    .category-picker__image--gidro {
        max-width: 140px;
    }

    .category-search {
        padding-top: 70px;
        padding-bottom: 65px;
    }

    .footer {
        padding: 25px 10px 27px;
        background-color: #f9f9fc;
    }

    .footer__menu {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .footer__menu-item {
        max-width: 100%;
    }

    .footer__nav {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 300ms ease;
    }

    .footer__nav-item {
        margin: 8px 0px;
    }

    .footer__nav-list {
        text-align: center;
        padding: 10px 0px;
    }

    .footer__menu-title {
        position: relative;
        color: #7f7f7f;
        font-family: 'SF-Medium', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.085px;
        padding: 16px;
        border-top: 2px solid #f0f0f4;
        border-bottom: 2px solid #f0f0f4;
        margin-top: -2px;
    }

    .footer__menu-title::after {
        content: "";
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 7px;
        background: url('../images/down-arrow.svg') no-repeat center;
        background-size: contain;
    }

    .footer__menu-title.js-dropdown-triggered::after {
        background-image: url('../images/up-arrow.svg');
    }

    .footer__bottom {
        text-align: left;
    }
    
    .footer__bottom-link {
        display: block;
    }

    .footer__bottom-link:first-child {
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .sale-banner__text {
        max-width: 280px;
        font-size: 21px;
        line-height: 30px;
    }

    .sale-banner__btn {
        line-height: 40px;
        width: 140px;
        font-size: 14px;
        margin-top: 5px;
    }

    .sale-banner__btn::before {
        width: 90px;
        top: -35px;
        left: -105px;
    }

    .sale-banner__btn::after {
        width: 102px;
        right: -116px;
        top: -31px;
    }

    .sale-banner__wrapper {
        padding: 15px 0px 20px;
    }

    .side-filter__tab-contents {
        padding-right: 0px;
    }

    .pagination__item {
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width: 411px) {
    .banner__slider {
        height: 220px;
    }
    
    .banner__slider-img {
        min-height: 220px;
    }

    .products__items-slider {
        padding: 0px;
    }

    .products__items-slider .product-card {
        margin: 14px 5px 12px;
    }

    .sale-banner__btn {
        width: 130px;
    }

    .sale-banner__btn::before {
        width: 80px;
        top: -29px;
        left: -91px;
    }

    .sale-banner__btn::after {
        width: 86px;
        right: -96px;
        top: -27px;
    }

    [data-flow-type="inline"] .product-card__info {
        width: 100%;
        margin-top: 12px;
    }

    [data-flow-type="inline"] .product-card__price {
        font-size: 22px;
        padding-left: 40px;
        text-align: left;
    }

    [data-flow-type="inline"] .product-card__title {
        margin-left: 0px;
    }

    [data-flow-type="inline"] .product-card__no-more {
        padding-bottom: 10px;
    }
}