/* ||COMMON STYLES */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'SF-Regular', sans-serif;
    font-weight: 400;
    color: #2F3035;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

button {
    padding: 0px;
    outline: 0;
    border: 0;
    font: inherit;
    color: inherit;
    background: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

img {
    display: block;
}

/* ||MAIN STYLES */

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.amount-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #1c62cd;
    border-radius: 50%;
    font: 400 10px/12px "SF-Regular", sans-serif;
    margin: 0px;
}

.slick-dots {
    position: absolute;
    display: inline-block;
    font-size: 0px;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.slick-dots > li {
    display: inline-block;
}

.slick-dots > li + li {
    margin-left: 10px;
}

.slick-dots button {
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots button:focus,
.slick-dots button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.slick-dots .slick-active button {
    background-color: #fff;
}

.sale-label {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px 20px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    background-color: #1c62cd;
    margin: 0px;
}

.currency {
    display: inline-block;
}

.no-white-space {
    white-space: nowrap;
}

.number-hightlight {
    color: #1c62cd;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}

/* ||HEADER */

.header {
    position: relative;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 700 20px/23px 'SF-Bold', sans-serif;
    min-height: 122px;
}

.header__super-nav,
.header__panel {
    max-width: 40%;
}

.header__logo {
    width: 20%;
    text-align: center;
}

.header__logo > a {
    display: inline-block;
}

.header__logo > img {
    margin: 0 auto;
    cursor: pointer;
}

.header__super-nav-list > li {
    display: inline-block;
    margin-right: 50px;
}

.header__super-nav-list > li:last-child {
    margin-right: 0px;
}

.header__panel {
    display: flex;
    width: 40%;
}

.header__panel-adress {
    position: relative;
    padding-left: 30px;
}

.header__panel-adress::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -10px;
    background-image: url('../images/location.svg');
}

.header__panel-btn-list {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}

.header__panel-btn {
    display: inline-block;
}

.header__panel-btn-list > li {
    margin-right: 10px;
}

.header__panel-btn-list > li:last-child {
    margin-right: 20px;
}

.header__panel-btn--backet {
    position: relative;
}

.header__backet-items {
    position: absolute;
    top: 9px;
    left: 24px;
}

/* ||HEADER CATEGORIES */

.header__categories {
    background-color: #f0f0f4;
    padding: 0 15px;
}

.header__categories-list {
    display: flex;
    justify-content: space-between;
    font: 400 20px/24px "SF-Regular", sans-serif;
    min-height: 53px;
}

.header__categories-list-item {
    position: relative;
}

.header__categories-list-item::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
}

.header__categories-link { 
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.header__categories-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: auto;
    right: 0px;
    width: 0%;
    height: 3px;
    background-color: #1c62cd;
    transition: width 300ms linear;
}

.header__categories-link:focus,
.header__categories-link:hover {
    color: #232325;
    text-shadow: 0px 0px 1px #232325;
}

.header__categories-link:focus::after,
.header__categories-link:hover::after {
    left: 0px;
    right: auto;
    width: 100%;
}

/* ||BANNER */
.banner__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.banner__slider {
    position: relative;
    width: 870px;
    height: 400px;
    overflow: hidden;
}

.banner__slider-item {
    display: block;
}

.banner__slider-img {
    max-width: 100%;
    min-height: 400px;
    object-fit: cover;
}

.banner__slider-arrow {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 28px;
    z-index: 1;
    cursor: pointer;
    transform-origin: center;
    background: url('../images/slide-arrow-white.svg') no-repeat center;
    background-size: cover;
    transition: filter 100ms linear, transform 200ms linear;
}

.banner__slider-arrow:focus,
.banner__slider-arrow:hover {
    filter: drop-shadow(0px 0px 4px #bbbbbb);
}

.banner__slider-arrow--prev {
    left: 23px;
}

.banner__slider-arrow--prev:focus,
.banner__slider-arrow--prev:hover {
    transform: scale(1.2);
}

.banner__slider-arrow--next {
    right: 23px;
    transform: scale(-1, 1);
}

.banner__slider-arrow--next:focus,
.banner__slider-arrow--next:hover {
    transform: scale(-1.2, 1.2);
}

/* ||SALE-OFFER IN BANNER SECTION */

.sale-offer {
    position: relative;
    display: flex;
    width: 265px;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}

.sale-offer__cost {
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    text-align: right;
    padding-right: 6px;
    padding-left: 95px;
}

.sale-offer__price {
    margin: 0px;
}

.sale-offer__price--new {
    font-size: 27px;
    line-height: 33px;
    color: #1c62cd;
}

.sale-offer__price--old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
}

.sale-offer__price-value--old {
    position: relative;
    display: inline-block;
    padding-right: 3px;
    margin-top: 5px;
}

.sale-offer__price-value--old::before {
    content: "";
    position: absolute;
    top: 92%;
    left: 0px;
    width: 110%;
    height: 1px;
    background: #c4c4c4;
    transform-origin: left center;
    transform: rotate(-17deg);
}

.sale-offer__image {
    object-fit: contain;
    max-width: 100%;
    max-height: 177px;
}

.sale-offer__title {
    font-weight: bold;
    font-size: 18px;
    font-family: 'SF-Bold', sans-serif;
    line-height: 21px;
    text-align: center;
    padding: 0px 30px;
}

.sale-offer__sale-end {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0px;
    padding: 26px 20px;
    background:#f0f0f4;
}

.sale-offer__date {
    display: block;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

/* ||CATEGORY-SEARCH */

.category-search {
    padding: 77px 0px 80px;
}

.category-search__tabs {
    font: 400 20px/24px 'SF-Regular', sans-serif;
    color: #2F3035;
}

.category-search__tab {
    padding: 12px 26px;
    cursor: pointer;
}

.category-search__tab:not(.category-search__tab--active) {
    transition: background-color 200ms linear;
}

.category-search__tab:not(.category-search__tab--active):focus,
.category-search__tab:not(.category-search__tab--active):hover {
    background-color: #f3f3f9;
}

.category-search__tab--active {
    font-weight: 600;
    font-family: 'SF-Bold', sans-serif;
    background: #f0f0f4;
    border-radius: 4px;
}

.category-search__content {
    position: relative;
    margin-top: 25px;
}

.category-search__form {
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    visibility: hidden;
}

.category-search__input {
    display: inline-block;
    width: 100%;
    font: 400 16px/19px "SF-Regular", sans-serif;
    color: #656464;
    padding: 15px 20px;
    border: 0px;
    outline: 0;
    border-radius: 3px;
    background: #f0f0f4;
}

.category-search__submit {
    margin-left: -5px;
    padding: 17px 40px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'SF-Semibold', sans-serif;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
    background: #1c62cd;
    cursor: pointer;
    transition: background-color 200ms linear;
}

.category-search__submit:focus,
.category-search__submit:hover {
    background-color: #1953ad;
}

.category-search__form--active {
    visibility: visible
}
