/* ||COMMON STYLES */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'SF-Regular', sans-serif;
    font-weight: 400;
    color: #2F3035;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

button {
    padding: 0px;
    outline: 0;
    border: 0;
    font: inherit;
    color: inherit;
    background: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

img {
    display: block;
}

/* ||MAIN STYLES */

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.overflow-hd {
    overflow: hidden;
}

.amount-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #1c62cd;
    border-radius: 50%;
    font: 400 10px/12px "SF-Regular", sans-serif;
    margin: 0px;
}

.slick-dots {
    position: absolute;
    display: inline-block;
    font-size: 0px;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.slick-dots > li {
    display: inline-block;
}

.slick-dots > li + li {
    margin-left: 10px;
}

.slick-dots button {
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots button:focus,
.slick-dots button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.slick-dots .slick-active button {
    background-color: #fff;
}

.sale-label {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px 20px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    background-color: #1c62cd;
    margin: 0px;
}

.currency {
    display: inline-block;
}

.no-white-space {
    white-space: nowrap;
}

.number-hightlight {
    color: #1c62cd;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}

.add-to-card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    border-radius: 10px 0px 0px 0px;
    cursor: pointer;
}

.heart {
    position: relative;
    width: 24px;
    height: 22px;
    background: url('../images/heart.svg') no-repeat center;
    background-size: 100%;
    transition: background-size 0ms ease-out;
}

.heart::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    background: url('../images/heart-fill.svg') no-repeat center;
    background-size: 0px;
    opacity: 0;
    transition: background-size 230ms ease-out, opacity 150ms;
    cursor: pointer;
}

.heart--active {
    background-size: 90%;
    transition: 250ms background-size 100ms linear;
}

.heart--active::before {
    opacity: 1;
    background-size: 100%;
}

/* ||HEADER */

.header {
    position: relative;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 700 20px/23px 'SF-Bold', sans-serif;
    min-height: 122px;
}

.header__super-nav,
.header__panel {
    max-width: 40%;
}

.header__logo {
    width: 20%;
    text-align: center;
}

.header__logo > a {
    display: inline-block;
}

.header__logo > img {
    margin: 0 auto;
    cursor: pointer;
}

.header__super-nav-list > li {
    display: inline-block;
    margin-right: 50px;
}

.header__super-nav-list > li:last-child {
    margin-right: 0px;
}

.header__panel {
    display: flex;
    width: 40%;
}

.header__panel-adress {
    position: relative;
    padding-left: 30px;
}

.header__panel-adress::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -10px;
    background-image: url('../images/location.svg');
}

.header__panel-btn-list {
    display: flex;
    margin-right: 0;
    margin-left: auto;
}

.header__panel-btn {
    display: inline-block;
}

.header__panel-btn-list > li {
    margin-right: 10px;
}

.header__panel-btn-list > li:last-child {
    margin-right: 20px;
}

.header__panel-btn--backet {
    position: relative;
}

.header__backet-items {
    position: absolute;
    top: 9px;
    left: 24px;
}

/* ||HEADER CATEGORIES */

.header__categories {
    background-color: #f0f0f4;
    padding: 0 15px;
}

.header__categories-list {
    display: flex;
    justify-content: space-between;
    font: 400 20px/24px "SF-Regular", sans-serif;
    min-height: 53px;
}

.header__categories-list-item {
    position: relative;
}

.header__categories-list-item::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
}

.header__categories-link { 
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.header__categories-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: auto;
    right: 0px;
    width: 0%;
    height: 3px;
    background-color: #1c62cd;
    transition: width 300ms linear;
}

.header__categories-link:focus,
.header__categories-link:hover {
    color: #232325;
    text-shadow: 0px 0px 1px #232325;
}

.header__categories-link:focus::after,
.header__categories-link:hover::after {
    left: 0px;
    right: auto;
    width: 100%;
}

/* ||BANNER */
.banner__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.banner__slider {
    position: relative;
    width: 870px;
    height: 400px;
    overflow: hidden;
}

.banner__slider-item {
    display: block;
}

.banner__slider-img {
    max-width: 100%;
    min-height: 400px;
    object-fit: cover;
}

.banner__slider-arrow {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 28px;
    z-index: 1;
    cursor: pointer;
    transform-origin: center;
    background: url('../images/slide-arrow-white.svg') no-repeat center;
    background-size: cover;
    transition: filter 100ms linear, transform 200ms linear;
}

.banner__slider-arrow:focus,
.banner__slider-arrow:hover {
    filter: drop-shadow(0px 0px 4px #bbbbbb);
}

.banner__slider-arrow--prev {
    left: 23px;
}

.banner__slider-arrow--prev:focus,
.banner__slider-arrow--prev:hover {
    transform: scale(1.2);
}

.banner__slider-arrow--next {
    right: 23px;
    transform: scale(-1, 1);
}

.banner__slider-arrow--next:focus,
.banner__slider-arrow--next:hover {
    transform: scale(-1.2, 1.2);
}

/* ||SALE-OFFER IN BANNER SECTION */

.sale-offer {
    position: relative;
    display: flex;
    width: 265px;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}

.sale-offer__cost {
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    text-align: right;
    padding-right: 6px;
    padding-left: 95px;
}

.sale-offer__price {
    margin: 0px;
}

.sale-offer__price--new {
    font-size: 27px;
    line-height: 33px;
    color: #1c62cd;
}

.sale-offer__price--old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
}

.sale-offer__price-value--old {
    position: relative;
    display: inline-block;
    padding-right: 3px;
    margin-top: 5px;
}

.sale-offer__price-value--old::before {
    content: "";
    position: absolute;
    top: 92%;
    left: 0px;
    width: 110%;
    height: 1px;
    background: #c4c4c4;
    transform-origin: left center;
    transform: rotate(-17deg);
}

.sale-offer__image {
    object-fit: contain;
    max-width: 100%;
    max-height: 177px;
}

.sale-offer__title {
    font-weight: bold;
    font-size: 18px;
    font-family: 'SF-Bold', sans-serif;
    line-height: 21px;
    text-align: center;
    padding: 0px 30px;
}

.sale-offer__sale-end {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0px;
    padding: 26px 20px;
    background:#f0f0f4;
}

.sale-offer__date {
    display: block;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

/* ||CATEGORY-SEARCH */

.category-search {
    padding: 77px 0px 80px;
}

.category-search__tabs {
    font: 400 20px/24px 'SF-Regular', sans-serif;
    color: #2F3035;
}

.category-search__tab {
    padding: 12px 26px;
    cursor: pointer;
}

.category-search__tab:not(.category-search__tab--active) {
    transition: background-color 200ms linear;
}

.category-search__tab:not(.category-search__tab--active):focus,
.category-search__tab:not(.category-search__tab--active):hover {
    background-color: #f3f3f9;
}

.category-search__tab.js-tab--active {
    font-weight: 600;
    font-family: 'SF-Bold', sans-serif;
    background: #f0f0f4;
    border-radius: 4px;
}

.category-search__content {
    position: relative;
    margin-top: 25px;
    min-height: 50px;
}

.category-search__form {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    visibility: hidden;
}

.category-search__form.js-tab-content--active {
    visibility: visible;
}

.category-search__input {
    display: inline-block;
    width: 100%;
    font: 400 16px/19px "SF-Regular", sans-serif;
    color: #656464;
    padding: 15px 20px;
    border: 0px;
    outline: 0;
    border-radius: 3px;
    background: #f0f0f4;
}

.category-search__submit {
    margin-left: -5px;
    padding: 17px 40px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'SF-Semibold', sans-serif;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
    background: #1c62cd;
    cursor: pointer;
    transition: background-color 200ms linear;
}

.category-search__submit:focus,
.category-search__submit:hover {
    background-color: #1953ad;
}


/* ||CATAGORY-PICKER */

.category-picker__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.category-picker__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 130px;
    padding: 20px 0px 14px 20px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    transition: box-shadow 300ms ease-out;
}

.category-picker__item:focus,
.category-picker__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.category-picker__title {
    color: #2f3035;
    font: bold 24px/28px 'SF-Bold', sans-serif;
    transition: color 250ms linear;
}

.category-picker__item:focus .category-picker__title,
.category-picker__item:hover .category-picker__title {
    color: #1c62cd;
}

.category-picker__image {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 100%;
}

.category-picker__image--kvadro {
    top: 22px;
    right: 37px;
}

.category-picker__image--gidro {
    top: 25px;
    right: 25px;
}

.category-picker__image--ships {
    top: 13px;
    right: 6px;
}

.category-picker__image--snowmobile {
    top: 11px;
    right: 20px;
}

.category-picker__image--cross {
    top: 15px;
    right: 23px;
}

.category-picker__image--motors {
    top: 7px;
    right: 77px;
}

.category-picker__text {
    position: relative;
    display: inline-block;
    color: #c4c4c4;
    font-size: 14px;
    line-height: 17px;
    margin: 0px;
    vertical-align: middle;
    transition: color 250ms linear;
}

.category-picker__text::after {
    content: url('../images/more-arrow.svg');
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
    transition: margin-left 250ms linear;
}


.category-picker__item:focus .category-picker__text,
.category-picker__item:hover .category-picker__text {
    color: #ababab;
}


.category-picker__item:focus .category-picker__text::after,
.category-picker__item:hover .category-picker__text::after {
    margin-left: 6px;
}

/* PRODUCTS */

.products {
    padding: 80px 0px 85px;
}

.products__title {
    font: 700 26px/30px 'SF-Bold', sans-serif;
    margin-bottom: 15px;
}

.products__tabs {
    display: flex;
}

.products__tab {
    font: 500 16px/19px 'SF-Regular', sans-serif;
    text-align: center;
    padding: 10px 4px 10px 4px;
    margin-right: 40px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.products__tab.js-tab--active {
    border-bottom-color: #1c62cd;
    font-family: 'SF-Medium';
    font-weight: 500;
}

.products__tab:focus,
.products__tab:hover {
    border-bottom-color: #1c62cd;
}

.products__items {
    position: relative;
    display: none;
}

.products__items.js-tab-content--active {
    display: block;
}

.products__arrow  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.products__arrow--prev {
    content: '';
    left: -35px;
    background-image: url('../images/products-left-arr.svg');
}

.products__arrow--next {
    content: '';
    right: -35px;
    background-image: url('../images/products-right-arr.svg');
}

.products__show-more-link-wrapper {
    margin-top: 35px;
    text-align: center;
}

.products--buy-with .products__show-more-link-wrapper {
    display: none;
}

.products__show-more-link {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding: 17px 62px 15px;
    background: #f0f0f4;
    transition: background-color 240ms linear;
}

.products__show-more-link:focus,
.products__show-more-link:hover {
    background-color: #e6e6e7;
}

/* PRODUCT CARD */

.product-card {
    position: relative;
    width: 270px;
    height: 403px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    margin: 14px 30px 12px 0px;
    transition: box-shadow 200ms linear;
}

.product-card:focus,
.product-card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.product-card--sale::before {
    content: 'SALE';
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    padding: 7px 15px;
    font: 400 12px/14px 'SF-Regular', sans-serif;
    letter-spacing: 0.07em;
    color: #fff;
    background: #1c62cd;

}

.product-card__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card__link {
    display: block;
    cursor: pointer;
    transition: color 250ms linear;
}

.product-card__link:focus,
.product-card__link:hover {
    color:  #1c62cd;
}

.product-card__image {
    width: 200px;
    height: 200px;
    margin: 50px auto 0px;
    object-fit: contain;
}

.product-card__title {
    margin-top: 14px;
    font: 400 18px/21px 'SF-Regular', sans-serif;
    text-align: center;
    padding: 0px 27px;
}

.product-card__info {
    position: relative;
    margin-top: auto;
}

.product-card--no-more .product-card__cost {
    display: none;
}

.product-card__cost {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.product-card__price {
    font: 700 30px/36px 'Barlow', sans-serif;
    text-align: center;
    margin: 0px;
    padding-bottom: 32px;
    transition: color 250ms linear;
}

.product-card__link:focus ~ .product-card__info .product-card__price,
.product-card__link:hover ~ .product-card__info .product-card__price {
    color:  #1c62cd;
}

.product-card__to-backet {
    right: 0px;
    bottom: 0px;
    background-color: #1c62cd;
    transition: background-color 250ms linear;
}

.product-card--no-more .product-card__to-backet {
    display: none;
}

.product-card__to-backet:focus,
.product-card__to-backet:hover {
    background-color: #1953ad;
}

.product-card__hover-element {
    position: absolute;
    top: 122px;
    left: 50%;
    transform: translateX(-50%);

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    opacity: 0;
    visibility: hidden;
    width: 230px;
    
    margin: 0 auto;
    padding: 18px 5px;
    border-radius: 3px;
    
    font: 400 20px/24px "SF-Regular", sans-serif;
    text-align: center;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
    color: #2f3035;
    
    transition: opacity 300ms ease-out, visibility 300ms linear;
    z-index: 1;
}

.product-card__link:focus .product-card__hover-element,
.product-card__link:hover .product-card__hover-element {
    display: block;
    opacity: 1;
    visibility: visible;
}

.product-card__heart {
    position: absolute;
    top: 15px;
    right: 20px;
}

.product-card__no-more {
    display: none;
    text-align: center;
}

.product-card--no-more .product-card__no-more  {
    display: block;
}

.product-card__no-more-text {
    font: 700 18px/21px 'SF-Bold', sans-serif;
    margin: 0px 0px 13px;
}

.product-card__inform {
    position: relative;
    display: inline-block;
    font: 400 16px/19px 'SF-Regular', sans-serif;
    color: #1c62cd;
    margin-bottom: 25px;
}

.product-card__inform::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background-color: #1c62cd;
}

.products__contents {
    margin-top: 25px;
}

/* SALE-BANNER (NOT JUST IMAGE) */

.sale-banner__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 165px;
    padding: 30px 0px 30px 445px;
    background-color: #1c62cd;
    color: #fff;
}

.sale-banner__img {
    position: absolute;
    left: 70px;
    top: 32px;
}

.sale-banner__text {
    font-weight: 700;
    font-family: 'SF-Bold', sans-serif;
    font-size: 36px;
    line-height: 36px;
    max-width: 280px;
    margin: 0px;
}

.sale-banner__text-highlight {
    display: block;
    text-transform: uppercase;
}

.sale-banner__btn {
    width: 284px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #2f3035;
    background-color: #fff;
    border: 3px solid #fff;
    transition: background-color 240ms linear, color 240ms linear;
}

.sale-banner__btn:focus,
.sale-banner__btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}